body{
    margin: 0;
}
header {
    height: 220px;
    background-image:url("./img/pattern.png");
    background-color: #4EA0FF;
}
#logo{
    padding-left: 10px;
    padding-top: 120px;
    width: 300px;
}
h1{
    font-size: 70px;
    margin-bottom: 0;
}
#write{
    color: #808080;
    font-size: 25px;
}
.creator{
    margin-top: 0;
}
#boolean{
    color: #20A9E5;
}
.info{
    font-size: 25px;
}
.yellow{
    background-color: yellow;
}
